aside {
    width: 500px;
    margin: auto;
    border: 1px;
    padding: 0%;
    background-color: steelblue;
    color: black;
    text-align: justify;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
}

p {
    padding: 0;
}

footer {
    margin-top: auto;
    border-top: black;
    text-align: center;
}